.add-cell {
	position: relative;
	opacity: 0;
	transition: all .3s ease-in;
	margin-top: 1rem;
}

.add-cell:hover {
	opacity: 1;
}
.add-cell .divider-line {
	position: absolute;
	top: 50%;
	bottom: 50%;
	right: 2.5%;
	left: 2.5%;
	border-bottom: 1px solid gray;
	width: 90%;
	z-index: -1;
}

.add-cell.make-visible {
	opacity: 1;
	margin-top: 1rem;
}
.add-cell .add-buttons {
	display: flex;
	justify-content: center;
}

.add-cell .add-buttons button {
	margin: 0 20px;
}
